/**----------COLORS-------------------*/

:root {
    --main-color: #2E2F42;
    --second-background-color: #F4F4FD;
    --text-color:#434455;
    --background-hover-color: #404BBF;
    --hero-hover-color: #FFFFFF;
    --iris-color: #4D5AE5;
    
}

/**----------GENERAL REQUIREMENTS------------------*/

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--hero-hover-color);
}

/**------------RESET STYLES------------------*/

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.webstudio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/**----------TOP LOGO-------------------*/

.header {
    padding-top: 24px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex ;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);

}

.logo-span-top {
   color: #2E2F42;
}

/**----------NAVIGATION-------------------*/

.top-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.top-link:hover,
.top-link:focus {
color: var(--background-hover-color);
}

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.address-link:hover,
.address-link:focus {
    color: var(--background-hover-color);
}

.address {
    font-style: normal;
}
/**----------HERO WEBSTUDIO-------------------*/

.hero {
    background-color: var(--main-color);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--hero-hover-color);
    padding-top: 188px;
}

/**----------HERO BUTTON-------------------*/

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--hero-hover-color);
    background-color: var(--iris-color);
    cursor: pointer;
    margin-top: 48px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--background-hover-color);
}

/**----------FEATURES-------------------*/

.peculiarities {
    color: var(--main-color);
}
.specifics {
    padding-top: 120px;
}

/**----------WHAT ARE WE GOING-------------------*/

.webstudio-list {
    padding-top: 72px;
    padding-bottom: 120px;
}

/**----------OUR TEAM-------------------*/

.team {
    background-color: var(--second-background-color);
}

.webstudio-title {
    padding-top: 120px;
}

.team-list {
    background-color: #FFFFFF;
    margin-top: 72px;
    padding-bottom: 120px;
}

.team-item {
    background-color: #FFFFFF;
}

.team-title {
    margin-top: 32px;
}

.team-text {
    margin-top: 8px;
}


/**----------FUTER-------------------*/

.footer {
    background-color: var(--main-color);
}

.logo-footer {
    padding-top: 100px;
}

.text-footer {
    color: var(--second-background-color);
    margin-top: 16px;
    padding-bottom: 100px;
}

.logo-span {
    color: var(--second-background-color);
}

/**----------PORTFOLIO-------------------*/

.hero-portfolio {
    color: var(--text-color);
} 

.btn-list {
    padding-top: 168px;
}

.filter-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: var(--second-background-color);
    color: var(--iris-color);
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--background-hover-color);
    color: var(--hero-hover-color);
}

.pictures-portfolio {
    margin-top: 72px;
    padding-bottom: 120px;
}

.img-title{
    margin-top: 32px;
}

.img-text {
    margin-top: 8px;
}
/**----------PECULIARITES------------------*/

